$orange: #ff6f00;
$off-white: #fafafa;
$light-black: #2b2b2b;
$light-white: #fafafa;
$light-gray: #8a8a8a;
$lighter-gray: #ececec;
$darker-black: #1d1d1e;
$light-pink: rgba(255, 0, 82);
$dark-green: #05ad5d;
$light-green: #03cc6c;
$light-blue: #4b99ff;
$lighter-gray: #c9c9c9;
