$orange: #FF6F00;
$light-black: #2B2B2B;
$light-white: #FAFAFA;
$light-gray: #8A8A8A3D;
$lighter-gray: #ECECEC;
$darker-black: #1D1D1E;
$light-pink: rgba(255, 0, 82);
$dark-green: #05AD5D;
$light-green: #03CC6C;
$light-blue: #4B99FF;
$lighter-gray: #C9C9C9;