@import "./_colors.scss";

.header {
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  &__logo {
    text-align: center;
    border-bottom: 1px solid $lighter-gray;
    color: $dark-green;
  }
  &__menu {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    padding: 0.8em;
    &__item {
      color: $light-gray;
    }
  }
}
